@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	md: '768px';
	lg: '1024px';
}

@layer base {
	:root {
		--color-primary: 248 248 248;

		--color-secondary: 30 24 32;
		--color-secondary-light: 229 231 235;

		--color-accent: 162 136 166;
		--color-accent-light: 168 145 172;

		--box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
		--text-gradient: linear-gradient(45deg, #6930c3, #5390d9);
	}

	:root[class='dark'] {
		--color-primary: 18 18 18;

		--color-secondary: 26 26 26;
		--color-secondary-light: 46 46 47;

		--color-accent: 162 136 166;
		--color-accent-light: 168 145 172;

		--box-shadow: rgba(116, 121, 125, 0.2) 0px 1px 10px;
		--text-gradient: linear-gradient(45deg, #8451d6, #5390d9);
	}
}

.paragraph {
	@apply leading-relaxed text-lg font-medium tracking-wide text-gray-800 dark:text-gray-300;
}

.border-top-solid {
	@apply border-t-2 border-black dark:border-white;
}

.title {
	@apply text-2xl font-semibold tracking-tight;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'quicksand';
	@apply text-black dark:text-white;
	transition: background 0.5s;
}

.koulen {
	font-family: 'koulen';
}

.shadow {
	box-shadow: 4px 4px 1px 0px rgba(0, 0, 0, 1);
}

.tag {
	@apply bg-secondary-light px-2 py-1.5 rounded-lg text-sm;
}

.btn {
	width: fit-content;
	transition: background 0.15s, color 0.15s;
	@apply bg-accent text-white py-1 px-4 rounded-md font-semibold text-lg border-none;
}

.btn-border {
	width: fit-content;
	@apply border border-accent text-gray-800 dark:text-gray-300 py-1 px-4 rounded-xl font-semibold text-lg;
}

.btn-inline {
	animation: 0.5s;
	@apply underline text-xl border-none;
}

.btn-inline .arrow {
	transition: 0.25s;
}

.btn:hover {
	cursor: pointer;
	@apply bg-accent-light;
}

.card {
	cursor: pointer;
	transition: 0.25s;
	@apply flex flex-col;
}

.card:hover {
	transform: scale(1.025);
}

.card:hover .arrow {
	transform: translateX(0.25rem);
	transition: 0.25s;
}

.quote {
	font-weight: bold;
	font-size: 2rem;
}

.work-icon {
	margin-left: -3.25rem;
	@apply absolute bg-secondary-light p-2.5 rounded-full;
}

.detail {
	@apply uppercase tracking-wider text-sm border-l-4 border-accent pl-2 text-black dark:text-white;
}

@media only screen and (max-width: 1024px) {
	.detail {
		@apply border-l-2 border-accent pl-2;
	}

	.detail:nth-child(even) {
		@apply mt-2;
	}
}
